---
layout: post-full
title: "Index of Projects"
categories: projects
---

<script>
  var param1 = "{{ page.categories }}";
  if (param1 == "") {
    param1 = "{{ page.categories[1] }}";
  }
  
  {% include blog/blog-dynam.js %}
</script>

<div class="cards">


  {% for post in site.posts %}
  <div class="card" onclick="window.location.pathname='{{ post.url }}'">
    {% if post.cover_image %}
    <img src="{{ post.cover_image }}" alt="{{ post.title }}">
    {% assign desc_len = site.quick_view_length_index %}
    {% else %}
    {% assign desc_len = site.quick_view_length_index_noimg %}
    {% endif %}
    <a href="{{ post.url }}">
      <h5>{{ post.title }}</h5>
    </a>
    {% if post.description %}
    {% assign desc = post.description %}
    {% else %}
    {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
    {% endif %}
    <p class="item-desc">
      {{ desc | strip_newlines | strip_html | truncate: desc_len, '...' }}
      <br />
      <small>
        {{ post.date | date: '%B %d, %Y' }} - {{ post.categories[1] | capitalize }} - {{ post.tags | join: ', ' }}
      </small>
    </p>
  </div>
  {% endfor %}
</div>