.splash
    .splash-logo-div
        img(src="/assets/img/logo.jpg",style="display:none;",onload="this.style.display = 'inline'; this.parentElement.getElementsByTagName('p')[0].style.display = 'block';")
        p(style="display:none;") Luigi Pizzolito
        .lds-dual-ring