.splash
    .splash-logo-div
        img(src="/assets/img/LP-Logo.png",style="display:none;",onload="this.style.display = 'inline'; this.parentElement.getElementsByTagName('p')[0].style.display = 'block';",alt="Luigi Pizzolito's Logo")
        //- p(style="display:none;") Luigi Pizzolito
        .lds-dual-ring