---
layout: default
title: Luigi Pizzolito
---
  <!-- ! folowing only needed for home page, move to new _layout please! -->
  <!-- ! github pages fix
  <script>if (window.location.pathname.includes("Personal-Website")) document.getElementsByTagName("link")[0].href = "/Personal-Website/assets/css/main.css"; </script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/css/home.css">
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script> -->

<script src="/assets/js/home.js"></script>

<div class="home-wrap">

  {% include home/header.html %}

  <div class="home-sections">

    {% include home/sections/about.html %}

    {% include home/sections/electronics.html %}

    {% include home/sections/software.html %}

    {% include home/sections/sounddesign.html %}

    {% include home/sections/publicspeaking.html %}

    {% include home/sections/videography.html %}

    {% include home/sections/academics.html %}

    {% include home/sections/socialmedia.html %}

    {% include home/cc.html %}

    <!-- {% include home/columns-test.html %} -->

    <!-- all the sections -->
    <!-- <div style="height: 4500px;"></div> -->

  </div>

</div>

<!-- <div id="blogposts">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->