---
layout: homepage
title: Luigi Pizzolito
---

<script src="/assets/js/home.js"></script>

<div class="home-wrap">

  {% include home/header.html %}

  <div class="home-sections">

    {% include home/sections/about.html %}

    {% include home/sections/electronics.html %}

    {% include home/sections/software.html %}

    {% include home/sections/sounddesign.html %}

    {% include home/sections/publicspeaking.html %}

    {% include home/sections/videography.html %}

    {% include home/columns-test.html %}

    <!-- all the sections -->
    <!-- <div style="height: 4500px;"></div> -->

  </div>

</div>

<!-- <div id="blogposts">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->