mixin nav-content()
    ul
        li
            a(href="/") Home
        li
            a(href="/static/about.html") About
        li
            .dropdown
                a.dropbtn(href="/projects") Projects
                    i.fa.fa-caret-down
                .dropdown-content.threei
                    a(href="/projects/videography") Videography
                    a(href="/projects/software") Software
                    a(href="/projects/hardware") Electronics
        li
            .dropdown
                a.dropbtn(href="#") Experiences
                    i.fa.fa-caret-down
                .dropdown-content.twoi
                    a(href="/projects/publicspeaking") Public Appearances
                    a(href="/projects/theatre") Theatre Tech
        li
            a(href="/projects/academics") Academics/CV
        li
            a(href="/static/contact.html") Contact

mixin nav-content-mobile()
    ul
        li
            a(href="/") Home
        li
            a(href="/static/about.html",id="nav-about") About
        li
            a(href="/projects",id="nav-projects") All Projects
        li
            a.faded(href="/projects/videography",id="nav-videography") Videography
        li
            a.faded(href="/projects/software",id="nav-software") Software
        li
            a.faded(href="/projects/hardware",id="nav-hardware") Electronics
        li
            a.faded(href="/projects/publicspeaking",id="nav-publicspeaking") Public Appearances
        li
            a.faded(href="/projects/theatre",id="nav-theatre") Theatre Tech
        li
            a(href="/projects/academics",id="nav-academics") Academics/CV
        li
            a(href="/static/contact.html",id="nav-contact") Contact

header
    .main-nav
        a(href="/").logo-div
            .sep
                h1.logo Luigi Pizzolito
        .title-div
            h1 Luigi Pizzolito
        .navbar-div
            nav.site-navbar
                +nav-content()
    .sec-nav











    .header-position

        a(href="/").logo-div
            h1.logo Luigi Pizzolito
        span.logo-desc Luigi Pizzolito

        .mobile-nav-toggle(onclick="mobileNav();"): span

.mobile-nav(onclick="mobileNav()")
    +nav-content-mobile()

script.
    /*
    * NavBar
    */
    function mobileNav() {
        document.querySelector('.mobile-nav').classList.toggle('is-open');
        document.querySelector('.mobile-nav-toggle').classList.toggle('is-open');
        document.querySelector('.main-pad').classList.toggle("extrapad")
        document.querySelector('main').classList.toggle("extrapad")
    }