mixin nav-content()
    ul
        li
            a(href="/") Home
        li
            a(href="/static/about.html") About
        li
            .dropdown
                a.dropbtn(href="/projects") Projects
                    i.fa.fa-caret-down
                .dropdown-content.threei
                    a(href="/projects/videography") Videography
                    a(href="/projects/software") Software
                    a(href="/projects/hardware") Electronics
        li
            .dropdown
                a.dropbtn(href="#") Experiences
                    i.fa.fa-caret-down
                .dropdown-content.twoi
                    a(href="/projects/publicspeaking") Public Appearances
                    a(href="/projects/theatre") Theatre Tech
        li
            a(href="/projects/academics") Academics/CV
        li
            a(href="/static/contact.html") Contact

header
    .main-nav
        .logo-div
            .sep
                h1.logo Luigi Pizzolito
        .title-div
            h1 Luigi Pizzolito
        .navbar-div
            nav.site-navbar
                +nav-content()
    .sec-nav