.modal#lightbox
    span.close.pointer(onclick="closeLightbox()") &times;
    .modal-content
        .modal-imgs
        a.previous(onclick="changeSlide(-1);") &#10094;
        a.next(onclick="changeSlide(1);") &#10095;
        .modal-dots