section.about
    background:
        image: url("/assets/img/home/about-bg.png")
        position: center bottom
        size: cover
    border-bottom: 1px solid white

    h2
        color: $section-title
        font:
            family: 'Oswald'
            style: italic
            size: 60px
            weight: 600
        line-height: 1
        margin-left: -60px
        margin-top: 0
        margin-bottom: 20px

    .home-lead
        color: $section-text
        font:
            family: 'Open Sans'
        padding-bottom: 200px
        margin-left: 30px

    .home-cta
        margin-right: 0px
        width: 65%

    @media( max-width: 640px)
        h2, .home-lead
            margin-right: 10px
            margin-left: auto
            max-width: 300px
            text-align: right

        .home-lead
            font-size: 20px

        .home-cta
            margin-right: 5px
            width: 45%

@media ( min-width: 1000px )
    section.about
        h2
            margin-top: 20px