section.cc
    position: relative
    // border-bottom: 1px solid white
    background-color: $nav-background
    padding: 5px !important
    p
        color: $nav-link
        font:
            family: 'Open Sans'
            // size: 20px
        margin: 0 auto
        text-align: center