header
    position: relative
    width: 100%
    padding-bottom: 135px
    background-color: var(--nav-mob-sub-background)
    border-bottom: 1px solid var(--nav-mob-sub-background)

    .sec-nav, .main-nav
        position: absolute
        height: 135px

    .sec-nav
        right: 0
        top: 0
        width: 27.8%
        clip-path: polygon(28.8% 0, 100% 0%, 100% 100%, 0 100%)
        background-color: green

    .main-nav
        left: 0
        top: 0
        width: 80%
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%)

        background: var(--nav-background)
        // clear: both
        display: grid
        grid-template: 95px 40px / auto 1fr
        // height: calc(115px + 20px)

        .logo-div
            margin: 0
            padding: 0
            // z-index: 1
            // margin-right: 10px

            grid-column: 1 / 1
            grid-row: 1 / 2

            // transform: translateY(-10px)
            // transform: translateY(-5px)
            // float: left
            .logo
                // +hide-text
                //hide text
                overflow: hidden
                text-indent: 101%
                white-space: nowrap

                max-width: 115px
                background:
                    // image: url(/assets/img/logo.jpg)
                    image: url("/assets/img/LP-Logo.png")
                    repeat: no-repeat
                    position: center
                    size: contain
                    // color: pink
                height: 115px
                padding: 5px
                margin: 5px
                border-top: 5px solid transparent
                // margin-left: 5px
                // margin-top: 20px
                
                

                // border-radius: 8px
                
                // z-index: 1
            .sep
                height: 135px
                width: 135px
                border-right: 1px solid var(--nav-mob-sub-background)
                transform: translateY(-5px)

        .title-div
            // float: left
            grid-column: 2 / 2
            grid-row: 1 / 1
            // height: calc((115px+20px)-30px)

            h1
                color: var(--nav-title)
                // color: transparent
                font:
                    family: 'Oswald'
                    style: italic
                    size: 60px
                    weight: 600
                line-height: 1
                // margin: 0
                margin-top: 20px
                padding-top: 5px
                margin-left: 10px

                // animated text bg effect
                // background: url(/assets/img/blog/header/animated_text_fill.png) repeat-y
                // background-clip: text
                // -webkit-background-clip: text
                // -webkit-text-fill-color: transparent
                // -webkit-animation: aitf 10s linear infinite
                // -webkit-transform: translate3d(0,0,0)
                // -webkit-backface-visibility: hidden
                // @-webkit-keyframes aitf
                //     0%
                //         background-position: 0% 50%
                //     100%
                //         background-position: 100% 50%

        .navbar-div
            grid-column: 2 / 2
            grid-row: 2 / 2
            height: 40px
            width: 100%

            background-color: var(--nav-background)
            border-top: 1px solid var(--nav-mob-sub-background)

            nav.site-navbar
                overflow: hidden
                ul
                    list-style-type: none
                    margin: 0
                    padding: 0
                    clear: both
                    li
                        float: left
                        a, .dropbtn
                            display: block
                            color: var(--nav-link)
                            border-right: 1px solid var(--nav-mob-sub-background)
                            text-align: center
                            padding: 10px 16px
                            text-decoration: none
                        .active-navb
                            color: var(--highlight2) !important
                        a:hover, .dropdown:hover .dropbtn
                            color: var(--nav-link-hover)
                            background-color: var(--nav-mob-sub-background)
                        a:active
                            color: var(--nav-link-active)

                        // svg
                        //     transform: rotate(-90deg)
                        //     transition: transform ease-in-out 0.5s
                        //     &:hover
                        //         transform: rotate(0deg)

                        .dropdown
                            overflow: hidden
                            .dropdown-content
                                display: none
                                position: absolute
                                background-color: var(--nav-mob-sub-background)
                                // min-width: 160px
                                // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
                                z-index: 1
                                a
                                    display: block
                                    color: var(--nav-link)
                                    border: 1px solid var(--nav-mob-sub-background)
                                    border-bottom: none
                                    text-align: left
                                    padding: 5px 16px
                                    text-decoration: none
                                    &:last-child
                                        border-bottom: 1px solid var(--nav-mob-sub-background)
                            &:hover .dropdown-content
                                display: block
                                background-color: var(--nav-mob-sub-background-lighter)
                            .dropdown-content.threei
                                transform: translateY(calc(-3*28px)) translateY(-38px) translateY(-4px) translateX(-1px)
                            .dropdown-content.twoi
                                transform: translateY(calc(-2*28px)) translateY(-38px) translateY(-4px) translateX(-1px)


    .header-position
        display: none
.mobile-nav
    display: none
    .sml-elem
        display: none





.right-sidebar div.main-pad
    display: none

@media (max-width:1045px) and (min-width:775px)
    .right-sidebar div.main-pad
        display: block

@media (max-width: 1045px)
    main
        margin-top: 65px
        
        div.main-pad
            display: block
            width: 100%
            // background-color: red
            height: 0
            transition: height 0.5s ease-in-out
            // border: 1px solid white
            
        div.main-pad.extrapad
            height: 296px

    .right-sidebar
        div.main-pad
            // display: block
            width: 100%
            // background-color: red
            height: 0
            transition: height 0.5s ease-in-out
            // border: 1px solid white
            
        div.main-pad.extrapad
            height: 310px

        #mpb
            margin-bottom: 40px
    
    header
        width: auto
        background: var(--nav-background)
        padding: 10px 0
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 3
        .main-nav, .sec-nav
            display: none
        .header-position
            background: var(--nav-background)
            width: auto
            position: relative
            top: auto
            bottom: auto
            left: auto
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            padding: 10px 0
            margin: -10px 0
            z-index: 1
            .logo
                height: 45px
                margin: 0
                padding: 0
                border-radius: 2px
                overflow: hidden
                text-indent: 101%
                white-space: nowrap
                max-width: 115px
                background:
                    // image: url(/assets/img/logo.jpg)
                    image: url("/assets/img/LP-Logo.png")
                    repeat: no-repeat
                    position: center
                    size: contain
                    // color: pink
                z-index: 1
            .logo-desc
                font:
                    family: 'Oswald'
                    style: normal
                    weight: 200
                color: var(--nav-title)
                padding: 0
                text-align: center
                position: absolute
                top: 50%
                left: 50%
                margin: 0
                transform: translate(-50%, -50%)
                display: block
                background-color: transparent
                z-index: 1
            .mobile-nav-toggle
                display: flex
                cursor: pointer
                width: 40px
                height: 40px
                // background: pink
                margin-right: 20px
                margin-left: 65px
                align-items: center
                z-index: 1
                span,
                span::before,
                span::after
                    content: ""
                    display: block
                    width: 100%
                    height: 2px
                    background-color: var(--nav-mob-hamburger)
                    position: relative
                    transition: all 0.3s ease-in-out
                span::before
                    top: 15px
                span::after
                    top: -17px
                &.is-open span
                    background: transparent
                &.is-open span::before,
                &.is-open span::after
                    transform-origin: center
                    transform: translateY(1px) rotate(45deg)
                    top: 0
                &.is-open span::after
                    transform: translateY(-1px) rotate(-45deg)

    .mobile-nav
        display: block
        position: fixed
        top: 65px
        left: 0
        right: 0
        z-index: 2
        width: 100%
        background: var(--nav-mob-sub-background)
        padding: 10px 0 5px 0
        margin-left: 0
        transform: translateY( calc(-100% - 65px))
        transition: all 0.5s ease-in-out
        ul
            list-style: none
            margin: 0
            padding: 0
            li
                text-align: center
                margin-bottom: 10px
                a
                    font-family: Oswald
                    text-decoration: none
                    &:link,
                    &:visited
                        color: var(--nav-link)
                    &:active
                        color: var(--nav-link-active)
                    &:hover
                        color: var(--nav-link-hover)
                        text-decoration:
                            line: underline
                            color: var(--highlight2)
                .faded
                    // font-size: 16px
                    opacity: 0.7
            .activet-l
                color: var(--nav-link-hover)
                text-decoration:
                    line: underline
                    color: var(--highlight2)
        .sttcont
            position: relative
            #stt-nav
                margin: 0
                margin-top: -20px
                position: absolute
                left: 50%
                transform: translateX(-50%)
                padding: 5px 10px

    .mobile-nav.is-open
            display: block
            transform: translateY(0%)



@media ( max-width:  775px)
    .mobile-nav
        padding: 10px 0 calc(10px + 32px) 0
        .med-elem
            display: none
        .sml-elem
            display: block
            padding: 0 50px
            hr
                margin: 15px 10px
            #stt-nav
                    width: calc(100% - 25px)
                    margin-top: 0
            select#droppagegoto
                color: var(--highlight2)
                padding: 2px 5px
                margin: 0 20px
                width: -webkit-fill-available
                font-weight: bold
                option
                    color: var(--nav-link)
                    background-color: var(--blog-sidebar)
            #transplant
                // background-color: red
                color: var(--nav-title)
                    
                h3, h4
                    padding-left: 20px
                    padding-top: 0
                    color: var(--nav-title)
                    margin: 0px auto
                h3
                    padding-top: 10px

                span.site-tag
                    padding-left: 20px
                    a
                        display: inline-block
                        margin-right: 12px
                .tagcontainer
                    .site-tag
                        a
                            &:hover
                                cursor:  pointer !important

                #search-container
                    padding-left: 20px
                    // margin-top: 10px
                    ul
                        padding: 0
                        margin-top: 10px
                    .nf
                        padding-top: 5px
                        margin-bottom: 0
                    input
                        width: -webkit-fill-available
                        margin-right: 20px
                        background-color: var(--nav-mob-sub-background)
                        color: var(--nav-link)
                        border: var(--nav-background) 2px solid
                        // margin-top: 10px
                    #backsearch
                        font-size: 12px
                        &:hover
                            cursor: pointer
                    #results-container
                        overflow-y: scroll
                        max-height: 300px
                        border: 1px solid var(--nav-mob-sub-background-lighter)
                        margin-bottom: 5px
                        padding: 0 15px
                        li
                            margin: 5px 0
                            a
                                font-family: "Open Sans"
                            p.item-desc
                                font-size: 11px
                                margin: 0
                                margin-bottom: 10px

                .share-header
                    // padding-top: 0

                .sidebar-button
                    margin: 10px 20px

                #tweet
                    padding: 5px
                    width: max-content
                    margin: 0 20px
                    &:hover
                        cursor: pointer




    main
        // h2
        //     border-top: 1px solid white   
        div.main-pad.extrapad
            height: 0px //355px to 500px non-linear