:root {
    --body-background: gray;

    // --splash-loader: #1a46b7;
    // --splash-loader2: #cc7b2e;
    --splash-loader: #28e5e4;
    --splash-loader2: #0037d4;
}

@media ( prefers-color-scheme: light ) {
    :root {
        --nav-background: white;
        --nav-mob-sub-background: #EEE;
        --nav-mob-hamburger: #333;
        --nav-title: #000;
        --nav-link: #777;
        --nav-link-hover: #555;
        --nav-link-active: #000;

        --section-title: #FFF;
        --section-text: #FFF;

        --button-color: #FFF;
        --button-active: --nav-link-active;
        --button-hover: --nav-link;
    }
}

@media ( prefers-color-scheme: dark ) {
    :root {
        --nav-background: #262626;
        --nav-mob-sub-background: #363636;
        --nav-mob-hamburger: #eee;
        --nav-title: #fff;
        --nav-link: #ddd;
        --nav-link-hover: #eee;
        --nav-link-active: #fff;

        --section-title: #FFF;
        --section-text: #FFF;

        --button-color: #FFF;
        --button-active: var(--nav-link-active);
        --button-hover: var(--nav-link);
    }
}