:root {
    --body-background: gray;

    --highlight1: #28e5e4;
    --highlight2: #37cfa5;
    --highlight3: #0037d4;
    // --splash-loader: #1a46b7;
    // --splash-loader2: #cc7b2e;
    --splash-loader: var(--highlight1);
    --splash-loader2: var(--highlight3);
}

@media ( prefers-color-scheme: light ) {
    :root {
        --nav-background: #fff;
        --nav-mob-sub-background: #eee;
        --nav-mob-sub-background-lighter: #ddd;
        --nav-mob-hamburger: #333;
        --nav-title: #000;
        --nav-link: #777;
        --nav-link-hover: #555;
        --nav-link-active: #000;

        --section-title: #FFF;
        --section-text: #FFF;

        --button-color: #ddd;
        --button-active: #eee;
        --button-hover: #fff;
    }
}

@media ( prefers-color-scheme: dark ) {
    :root {
        --nav-background: #262626;
        --nav-mob-sub-background: #363636;
        --nav-mob-sub-background-lighter: #464646;
        --nav-mob-hamburger: #eee;
        --nav-title: #fff;
        --nav-link: #ddd;
        --nav-link-hover: #eee;
        --nav-link-active: #fff;

        --section-title: #FFF;
        --section-text: #FFF;

        --button-color: #ddd;
        --button-active: #eee;
        --button-hover: #fff;
    }
}