body
    display: grid
    grid-template: auto 1fr auto / auto 1fr auto
    height: 100vh

// etc

header
    grid-column: 1 / 4
    background: lightpink
    // padding: 2rem

.left-sidebar
    grid-column: 1 / 2
    background: lightblue

main
    grid-column: 2 / 3
    background: coral

.right-sidebar
    grid-column: 3 / 4
    background: yellow

footer
    grid-column: 1 / 4 
//   background: wheat
//   padding: 2rem
//   text-align: center

// body
//   font-family: system-ui, sans-serif

.left-sidebar,
.right-sidebar
    // padding: 1rem