body
    display: grid
    grid-template: auto 1fr auto / auto 1fr auto
    height: 200vh
    background: var(--nav-mob-sub-background) 

// etc

header
    grid-column: 1 / 4
    // background: lightpink
    // padding: 2rem

.left-sidebar
    grid-column: 1 / 2
    // width: clamp(200px, 20vw, 250px)
    width: 20px
    background: var(--nav-mob-sub-background)
    color: var(--nav-title)
    border-left: 1px solid var(--nav-mob-sub-background)

main
    grid-column: 2 / 3
    background: lightpink

.right-sidebar
    grid-column: 3 / 4
    width: clamp(200px, 25vw, 320px)
    background: var(--nav-mob-sub-background)
    color: var(--nav-title)
    border-left: 1px solid var(--nav-mob-sub-background)
    position: sticky
    top: 0
    height: fit-content
    ul, li
        list-style-type: none
        margin: 0px auto
    h3, h4
        padding-left: 40px
        color: var(--nav-title)
        margin: 0px auto
    h3
        padding-top: 10px
    a
        text-decoration: none
        color: var(--nav-title)
        &:link,
            &:visited
                color: var(--nav-link)
            &:hover
                color: var(--nav-link-hover)
            &:active
                color: var(--nav-link-active)

    p.item-desc
        font-size: 11px
        color: var(--nav-link)

footer
    grid-column: 1 / 4 
//   background: wheat
//   padding: 2rem
//   text-align: center

// body
//   font-family: system-ui, sans-serif

.left-sidebar,
.right-sidebar
    // padding: 1rem