body
    display: grid
    grid-template: auto 1fr auto / auto 1fr auto
    min-height: 100vh
    background: var(--blog-sidebar) 

// etc

header
    grid-column: 1 / 4
    // background: lightpink
    // padding: 2rem

.left-sidebar
    grid-column: 1 / 2
    // width: clamp(200px, 20vw, 250px)
    width: 20px
    background: var(--blog-sidebar)
    color: var(--nav-title)
    // border-right: 1px solid var(--nav-mob-sub-background)




main
    grid-column: 2 / 3
    background: var(--blog-background)
    border-left: 1px solid var(--nav-mob-sub-background)
    border-right: 1px solid var(--nav-mob-sub-background)
    padding: 1rem
    h2, p, h3, ul, li, a, h4, h5
        color: var(--nav-link-active)
        margin: 8px
    .post
        img
            max-width: 100%
            border-radius: 5px

    .cards
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
        grid-auto-rows: auto
        grid-gap: 0.5rem
        .card
            border: 2px solid var(--nav-mob-sub-background-lighter)
            border-radius: 4px
            margin: .5rem
            background: var(--blog-sidebar)
            transform: scale(1)
            transition: transform 0.2s ease-in-out
            &:hover
                transform: scale(1.02)
            img
                max-width: 100%
                height: auto
                border-bottom: 2px solid var(--nav-mob-sub-background-lighter)
                border-top-left-radius: 4px
                border-top-right-radius: 4px
                margin-bottom: 8px
            h5
                font-size: 16px
                margin-bottom: 0
                margin-top: 0
            p
                margin-top: 0
                font-size: 10px





.right-sidebar
    grid-column: 3 / 4
    width: clamp(200px, 25vw, 320px)
    background: var(--blog-sidebar)
    color: var(--nav-title)
    // border-left: 1px solid var(--nav-mob-sub-background)
    position: sticky
    top: 0
    height: fit-content
    margin-right: 10px
    padding-top: 0
    ul, li
        list-style-type: none
        margin: 0px auto
        padding-left: 20px
        li
            padding-left: 0
    h3, h4
        padding-left: 20px
        padding-top: 0
        color: var(--nav-title)
        margin: 0px auto
    h3
        padding-top: 10px
    a
        text-decoration: none
        color: var(--nav-title)
        &:link,
            &:visited
                color: var(--nav-link)
            &:hover
                color: var(--nav-link-hover)
                cursor: pointer !important
            &:active
                color: var(--nav-link-active)

    p.item-desc
        font-size: 11px
        color: var(--nav-link)
        margin-bottom: 10px

    span.site-tag
        padding-left: 20px
        a
            display: inline-block
            margin-right: 12px

    #search-container
        padding-left: 20px
        margin-top: 10px
        ul
            padding: 0
            margin-top: 10px
        .nf
            padding-top: 5px
            margin-bottom: 0
        input
            width: -webkit-fill-available
            margin-right: 20px
            background-color: var(--nav-mob-sub-background)
            color: var(--nav-link)
            border: var(--nav-background) 2px solid
            margin-top: 10px
        #backsearch
            font-size: 12px
            &:hover
                cursor: pointer

    #tweet
        padding: 5px
        width: max-content
        margin: 0 20px
        &:hover
            cursor: pointer

    .tagcontainer
        .site-tag
            a
                &:hover
                    cursor:  pointer !important

    .share-header
        padding-top: 0

    .sidebar-button
        margin: 10px 20px
    
    #stt
        width: calc(100% - 25px)
    #mpb
        width: calc(100% - 33px)

    .recentpost-listSidebar-extended, .more-elem
        display: none

footer
    grid-column: 1 / 4 
    border-top: 1px solid var(--nav-mob-sub-background)
//   background: wheat
//   padding: 2rem
//   text-align: center

// body
//   font-family: system-ui, sans-serif

.left-sidebar,
.right-sidebar
    // padding: 1rem




@media (max-width:1045px) and (min-width:775px)
    .right-sidebar
        padding-top: 65px
        padding-bottom: 30px


@media (max-width:775px)
    .left-sidebar
        display: none

    main
        grid-column: 1 / 4
        

    .right-sidebar
        grid-column: 1 / 4
        width: auto
        .recentpost-listSidebar-extended
            display: block
        .main-pad
            background-color: red
            // display: none
        .stt-elem
            display: none
        .more-elem
            display: block
