mixin nav-content()
    ul(onmouseover="hoverClearNav(this);",onmouseout="hoverSetNav(this);")
        li
            a.scroll_to(href="#about",onmouseover="inhibitSpy()",onmouseout="rehabSpy()") About
            .arrow.activet
        li
            a.scroll_to(href="#electronics") Electronics
            .arrow
        li
            a.scroll_to(href="#software") Software
            .arrow
        li
            a.scroll_to(href="#sounddesign") Sound Design
            .arrow
        li
            a.scroll_to(href="#publicspeaking",style="letter-spacing:-0.2px;") Public Appearances
            .arrow
        li
            a.scroll_to(href="#videography") Videography
            .arrow
        li
            a.scroll_to(href="#academics") Academics/CV
            .arrow
        li
            a.scroll_to(href="#contact") Contact
            .arrow

header
    .header-position

        .logo-div
            h1.logo Luigi Pizzolito
            p Luigi Pizzolito
        span.logo-desc Luigi Pizzolito

        nav.site-nav
            +nav-content()

        ul
            a(href="mailto:luigi.pizzolito@hotmail.com").email-link +Email Me


        .mobile-nav-toggle(onclick="mobileNav();"): span

.mobile-nav(onclick="mobileNav()")
    +nav-content()