mixin nav-content()
    ul
        li: a(href="#about") About
        li: a(href="#electronics") Electronics
        li: a(href="#software") Software
        li: a(href="#theatre") Sound Design
        li: a(href="#videography") Videography
        li: a(href="#publicspeaking",style="letter-spacing:-0.2px;") Public Appearances
        li: a(href="#academics") Academics/CV
        li: a(href="#contact") Contact

header
    .header-position

        .logo-div
            h1.logo Luigi Pizzolito
            p Luigi Pizzolito
        span.logo-desc Luigi Pizzolito

        nav.site-nav
            +nav-content()

        ul
            a(href="mailto:luigi.pizzolito@hotmail.com").email-link +Email Me


        .mobile-nav-toggle(onclick="mobileNav();"): span

.mobile-nav
    +nav-content()