section.cc {
  position: relative;
  background-color: var(--nav-background);
  border-left: 1px solid var(--nav-mob-sub-background);
  padding: 5px !important; }
  section.cc p {
    color: var(--nav-link);
    font-family: 'Open Sans';
    margin: 0 auto;
    text-align: center; }

header {
  position: relative;
  width: 100%;
  padding-bottom: 135px;
  background-color: var(--nav-mob-sub-background);
  border-bottom: 1px solid var(--nav-mob-sub-background); }
  header .sec-nav, header .main-nav {
    position: absolute;
    height: 135px; }
  header .sec-nav {
    right: 0;
    top: 0;
    width: 27.8%;
    -webkit-clip-path: polygon(28.8% 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(28.8% 0, 100% 0%, 100% 100%, 0 100%);
    background-color: green; }
  header .main-nav {
    left: 0;
    top: 0;
    width: 80%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    background: var(--nav-background);
    display: grid;
    grid-template: 95px 40px / auto 1fr; }
    header .main-nav .logo-div {
      margin: 0;
      padding: 0;
      grid-column: 1 / 1;
      grid-row: 1 / 2; }
      header .main-nav .logo-div .logo {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        max-width: 115px;
        background-image: url("/assets/img/LP-Logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 115px;
        padding: 5px;
        margin: 5px;
        border-top: 5px solid transparent; }
      header .main-nav .logo-div .sep {
        height: 135px;
        width: 135px;
        border-right: 1px solid var(--nav-mob-sub-background);
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px); }
    header .main-nav .title-div {
      grid-column: 2 / 2;
      grid-row: 1 / 1; }
      header .main-nav .title-div h1 {
        color: var(--nav-title);
        font-family: 'Oswald';
        font-style: italic;
        font-size: 60px;
        font-weight: 600;
        line-height: 1;
        margin-top: 30px;
        margin-left: 10px; }
    header .main-nav .navbar-div {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      height: 40px;
      width: 100%;
      background-color: var(--nav-background);
      border-top: 1px solid var(--nav-mob-sub-background); }
      header .main-nav .navbar-div nav.site-navbar {
        overflow: hidden; }
        header .main-nav .navbar-div nav.site-navbar ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          clear: both; }
          header .main-nav .navbar-div nav.site-navbar ul li {
            float: left; }
            header .main-nav .navbar-div nav.site-navbar ul li a, header .main-nav .navbar-div nav.site-navbar ul li .dropbtn {
              display: block;
              color: var(--nav-link);
              border-right: 1px solid var(--nav-mob-sub-background);
              text-align: center;
              padding: 10px 16px;
              text-decoration: none; }
            header .main-nav .navbar-div nav.site-navbar ul li a:hover, header .main-nav .navbar-div nav.site-navbar ul li .dropdown:hover .dropbtn {
              color: var(--nav-link-hover);
              background-color: var(--nav-mob-sub-background); }
            header .main-nav .navbar-div nav.site-navbar ul li a:active {
              color: var(--nav-link-active); }
            header .main-nav .navbar-div nav.site-navbar ul li .dropdown {
              overflow: hidden; }
              header .main-nav .navbar-div nav.site-navbar ul li .dropdown .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--nav-mob-sub-background);
                z-index: 1; }
                header .main-nav .navbar-div nav.site-navbar ul li .dropdown .dropdown-content a {
                  display: block;
                  color: var(--nav-link);
                  border: 1px solid var(--nav-mob-sub-background);
                  border-bottom: none;
                  text-align: left;
                  padding: 5px 16px;
                  text-decoration: none; }
                  header .main-nav .navbar-div nav.site-navbar ul li .dropdown .dropdown-content a:last-child {
                    border-bottom: 1px solid var(--nav-mob-sub-background); }
              header .main-nav .navbar-div nav.site-navbar ul li .dropdown:hover .dropdown-content {
                display: block;
                background-color: var(--nav-mob-sub-background-lighter); }
              header .main-nav .navbar-div nav.site-navbar ul li .dropdown .dropdown-content.threei {
                -webkit-transform: translateY(calc(-3*28px)) translateY(-38px) translateY(-4px) translateX(-1px);
                        transform: translateY(calc(-3*28px)) translateY(-38px) translateY(-4px) translateX(-1px); }
              header .main-nav .navbar-div nav.site-navbar ul li .dropdown .dropdown-content.twoi {
                -webkit-transform: translateY(calc(-2*28px)) translateY(-38px) translateY(-4px) translateX(-1px);
                        transform: translateY(calc(-2*28px)) translateY(-38px) translateY(-4px) translateX(-1px); }

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  min-height: 100vh;
  background: var(--blog-sidebar); }

header {
  grid-column: 1 / 4; }

.left-sidebar {
  grid-column: 1 / 2;
  width: 20px;
  background: var(--blog-sidebar);
  color: var(--nav-title); }

main {
  grid-column: 2 / 3;
  background: var(--blog-background);
  border-left: 1px solid var(--nav-mob-sub-background);
  border-right: 1px solid var(--nav-mob-sub-background);
  padding-top: 10px;
  padding-bottom: 10px; }
  main h2, main p, main h3, main ul, main li, main a {
    color: var(--nav-link-active);
    margin: 8px; }
  main .post img {
    max-width: 100%; }

.right-sidebar {
  grid-column: 3 / 4;
  width: clamp(200px, 25vw, 320px);
  background: var(--blog-sidebar);
  color: var(--nav-title);
  position: sticky;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px; }
  .right-sidebar ul, .right-sidebar li {
    list-style-type: none;
    margin: 0px auto;
    padding-left: 20px; }
    .right-sidebar ul li, .right-sidebar li li {
      padding-left: 0; }
  .right-sidebar h3, .right-sidebar h4 {
    padding-left: 20px;
    padding-top: 0;
    color: var(--nav-title);
    margin: 0px auto; }
  .right-sidebar h3 {
    padding-top: 10px; }
  .right-sidebar a {
    text-decoration: none;
    color: var(--nav-title); }
    .right-sidebar a:link:visited {
      color: var(--nav-link); }
    .right-sidebar a:link:hover {
      color: var(--nav-link-hover);
      cursor: pointer !important; }
    .right-sidebar a:link:active {
      color: var(--nav-link-active); }
  .right-sidebar p.item-desc {
    font-size: 11px;
    color: var(--nav-link);
    margin-bottom: 10px; }
  .right-sidebar span.site-tag {
    padding-left: 20px; }
    .right-sidebar span.site-tag a {
      display: inline-block;
      margin-right: 12px; }
  .right-sidebar #search-container {
    padding-left: 20px;
    margin-top: 10px; }
    .right-sidebar #search-container ul {
      padding: 0;
      margin-top: 10px; }
    .right-sidebar #search-container .nf {
      padding-top: 5px;
      margin-bottom: 0; }
    .right-sidebar #search-container input {
      width: -webkit-fill-available;
      margin-right: 20px;
      background-color: var(--nav-mob-sub-background);
      color: var(--nav-link);
      border: var(--nav-background) 2px solid;
      margin-top: 10px; }
    .right-sidebar #search-container #backsearch {
      font-size: 12px; }
      .right-sidebar #search-container #backsearch:hover {
        cursor: pointer; }
  .right-sidebar #tweet {
    padding-left: 20px; }
    .right-sidebar #tweet:hover {
      cursor: pointer; }
  .right-sidebar .tagcontainer .site-tag a:hover {
    cursor: pointer !important; }
  .right-sidebar .share-header {
    padding-top: 0; }

footer {
  grid-column: 1 / 4;
  border-top: 1px solid var(--nav-mob-sub-background); }
