.home-wrap header {
  width: 135px;
  background: var(--nav-background);
  padding: 20px 0;
  z-index: 2; }
  .home-wrap header .header-position {
    background: var(--nav-background);
    width: 135px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    z-index: 1; }
  .home-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    max-width: 115px;
    background-image: url("/assets/img/LP-Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 115px;
    padding: 0;
    margin: 10px 0 0 10px;
    border-radius: 8px;
    z-index: 1; }
  .home-wrap header .logo-div p, .home-wrap header .logo-desc {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    color: var(--nav-title);
    text-align: center;
    padding-top: 5px;
    margin: 0;
    display: block;
    z-index: 1; }
  .home-wrap header .logo-desc {
    padding: 0;
    display: none;
    font-weight: 200;
    z-index: 1; }
  .home-wrap header .logo-div {
    margin: 0;
    padding: 0;
    z-index: 1; }
  .home-wrap header .site-nav {
    z-index: 1; }
    .home-wrap header .site-nav ul {
      list-style: none;
      margin: 20px 0;
      padding: 0 20px 0 0;
      text-align: right; }
    .home-wrap header .site-nav li {
      margin-bottom: 10px; }
      .home-wrap header .site-nav li:last-child {
        margin-bottom: 0; }
  .home-wrap header .email-link {
    display: block;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
    text-decoration: underline;
    z-index: 1; }
  .home-wrap header .mobile-nav-toggle {
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 65px;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span::before,
    .home-wrap header .mobile-nav-toggle span::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--nav-mob-hamburger);
      position: relative;
      transition: all 0.3s ease-in-out; }
    .home-wrap header .mobile-nav-toggle span::before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span::after {
      top: -17px; }
    .home-wrap header .mobile-nav-toggle.is-open span {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle.is-open span::before,
    .home-wrap header .mobile-nav-toggle.is-open span::after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateY(1px) rotate(45deg);
              transform: translateY(1px) rotate(45deg);
      top: 0; }
    .home-wrap header .mobile-nav-toggle.is-open span::after {
      -webkit-transform: translateY(-1px) rotate(-45deg);
              transform: translateY(-1px) rotate(-45deg); }

.home-wrap ul a {
  font-family: Oswald;
  text-decoration: none; }
  .home-wrap ul a:link, .home-wrap ul a:visited {
    color: var(--nav-link); }
  .home-wrap ul a:hover {
    color: var(--nav-link-hover); }
  .home-wrap ul a:active {
    color: var(--nav-link-active); }

.home-wrap .mobile-nav {
  position: absolute;
  width: 100%;
  background: var(--nav-mob-sub-background);
  padding: 10px 0 5px 0;
  margin-left: 0;
  -webkit-transform: translateY(calc(-100% - 65px));
          transform: translateY(calc(-100% - 65px));
  transition: all 0.5s ease-in-out;
  z-index: 0; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }
  .home-wrap .mobile-nav .activet-l {
    color: var(--nav-link-hover);
    text-decoration-line: underline;
    text-decoration-color: var(--highlight2); }

@media (min-width: 775px) {
  nav ul li .arrow {
    width: 0;
    height: 0;
    border-right: 12px solid var(--highlight2);
    border-bottom: 8px solid transparent;
    border-top: 7px solid transparent;
    position: absolute;
    padding-left: 4px;
    margin-top: 2px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease-in-out; }
  nav ul li a:hover + .arrow {
    visibility: visible;
    opacity: 1; }
  nav ul li .activet {
    visibility: visible;
    opacity: 1; } }

@media (max-width: 775px) {
  ul a:hover {
    color: var(--nav-link-hover);
    text-decoration-line: underline;
    text-decoration-color: var(--highlight2); }
  .home-wrap .mobile-nav {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 2; }
  .home-wrap header {
    width: auto;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      padding: 10px 0;
      margin: -10px 0; }
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none;
      margin: 0;
      padding: 0; }
    .home-wrap header .logo {
      height: 45px;
      margin: 0;
      padding: 0;
      border-radius: 2px; }
    .home-wrap header .logo-div p {
      display: none; }
    .home-wrap header .logo-desc {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;
      background-color: transparent; }
    .home-wrap header .mobile-nav-toggle {
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; }
  .home-wrap .mobile-nav.is-open {
    display: block;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

.home-cta {
  width: 80%;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-decoration: none;
  color: var(--button-color);
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  display: block;
  border: 1px solid var(--button-color);
  padding: 0.3em 0;
  margin: 0.3em auto;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  transition: 0.08s ease-in;
  border-radius: 4px; }
  .home-cta::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.2s ease-in-out; }
  .home-cta:hover::before {
    right: 0; }
  .home-cta:hover {
    color: var(--button-hover); }
  .home-cta:active {
    color: var(--button-active); }

section.cc {
  position: relative;
  background-color: var(--nav-background);
  border-left: 1px solid var(--nav-mob-sub-background);
  padding: 5px !important; }
  section.cc p {
    color: var(--nav-link);
    font-family: 'Open Sans';
    margin: 0 auto;
    text-align: center; }

section.about {
  background-image: url("/assets/img/home/about-bg.png");
  background-position: center bottom;
  background-size: cover;
  border-bottom: 1px solid var(--nav-background); }
  section.about h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: -60px;
    margin-top: 0;
    margin-bottom: 20px; }
  section.about .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    padding-bottom: 200px;
    margin-left: 30px; }
  section.about .home-cta {
    margin-right: 0px;
    width: 65%; }
  @media (max-width: 640px) {
    section.about h2, section.about .home-lead {
      margin-right: 10px;
      margin-left: auto;
      max-width: 300px;
      text-align: right; }
    section.about .home-lead {
      font-size: 20px; }
    section.about .home-cta {
      margin-right: 5px;
      width: 45%; } }

@media (min-width: 1000px) {
  section.about h2 {
    margin-top: 20px; } }

@media (max-width: 775px) {
  section.about {
    margin-top: 65px; } }

section.electronics {
  position: relative;
  border-bottom: 1px solid var(--nav-background);
  background-image: url("/assets/img/home/electronics-bg.png");
  background-position: right bottom;
  background-size: cover; }
  section.electronics .cover {
    background-color: black;
    opacity: 0.25;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; }
  section.electronics h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 20px; }
  section.electronics .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    margin-left: 30px; }
  section.electronics .caroussel {
    width: 85%;
    margin: 20px auto 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--button-color);
    border-radius: 4px; }
    section.electronics .caroussel .container {
      padding: 10px 0;
      margin: 5px;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-animation: moveSlideshow 45s linear infinite;
              animation: moveSlideshow 45s linear infinite; }
      section.electronics .caroussel .container:hover {
        -webkit-animation-play-state: paused;
                animation-play-state: paused; }
      section.electronics .caroussel .container .container-item {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
        color: white;
        border: 2px solid white;
        border-radius: 4px;
        padding: 2.5px 10px;
        margin: 0px 5px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        overflow: shown;
        white-space: nowrap;
        text-decoration: none;
        text-align: center; }
        section.electronics .caroussel .container .container-item:hover {
          color: var(--button-hover);
          background: var(--button-color); }
        section.electronics .caroussel .container .container-item:active {
          color: var(--button-active); }

@-webkit-keyframes moveSlideshow {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@keyframes moveSlideshow {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }
  @media (max-width: 640px) {
    section.electronics .cover {
      display: block; }
    section.electronics .home-lead {
      margin-bottom: 40vw;
      font-size: 20px; }
    section.electronics h2, section.electronics .home-lead {
      margin-left: 20px;
      margin-right: 20px; }
    section.electronics .caroussel {
      width: 77%; } }
  @media (min-width: 775px) {
    section.electronics .caroussel {
      width: calc( (100vw - 135px) *0.8); } }

@media (min-width: 1000px) {
  section.electronics {
    padding: calc(20px + 3vw) 0 !important; } }

section.software {
  position: relative;
  border-bottom: 1px solid var(--nav-background);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent), url("../img/home/software-bg.png");
  background-position: center;
  background-size: cover; }
  section.software .cover {
    background-color: black;
    opacity: 0.25;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  section.software h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 20px; }
  section.software .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    margin-left: 30px; }
  section.software .col-1 {
    padding-bottom: 1vh; }
  section.software .bus-in {
    height: 375px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 7vw;
    box-shadow: 0 8px 6px -8px #444, 0 -8px 6px -8px #444;
    margin-top: 6px;
    margin-bottom: 6px; }
    section.software .bus-in:hover {
      overflow-y: scroll; }
    section.software .bus-in .item {
      width: auto; }
      section.software .bus-in .item img {
        border-radius: 10px;
        opacity: 0;
        background-color: #fff;
        margin: 5px 0;
        width: 100%;
        height: auto; }
      section.software .bus-in .item img:not(.initial) {
        transition: opacity 1s; }
      section.software .bus-in .item img.initial,
      section.software .bus-in .item img.loaded,
      section.software .bus-in .item img.error {
        opacity: 1; }
      section.software .bus-in .item img:not([src]) {
        visibility: hidden; }

@media (max-width: 640px) {
  .bus-in {
    oveflow-y: scroll !important;
    width: auto;
    margin: 0 10vw;
    text-align: center; }
    .bus-in .item {
      display: inline-block; }
      .bus-in .item img {
        width: 80vw !important;
        height: auto !important; } }

@media (min-width: 1000px) {
  section.software {
    padding: calc(20px + 3vw) 0 !important; } }

section.sounddesign {
  position: relative;
  border-bottom: 1px solid var(--nav-background);
  background-image: url("/assets/img/home/sounddesign-bg.png");
  background-position: center top;
  background-size: cover; }
  section.sounddesign h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 20px; }
  section.sounddesign .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    margin-left: 30px; }

@media (max-width: 640px) {
  section.sounddesign {
    background-position: center bottom;
    font-size: 20px; }
    section.sounddesign .home-lead {
      margin-top: 50vw;
      max-width: 50vw; } }

@media (min-width: 1000px) {
  section.sounddesign {
    padding: calc(20px + 5vw) 0 !important; } }

section.publicspeaking {
  position: relative;
  border-bottom: 1px solid var(--nav-background);
  background-image: url("/assets/img/home/publicspeaking-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat; }
  section.publicspeaking h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 20px; }
  section.publicspeaking .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    margin-left: 30px; }
  section.publicspeaking .home-cta {
    margin-bottom: 20vw; }

@media (max-width: 640px) {
  section.publicspeaking .home-cta {
    margin-bottom: 0vw;
    margin-right: 5px;
    width: 50%;
    margin-bottom: 30vw; }
  section.publicspeaking .home-lead {
    max-width: 50vw;
    font-size: 20px;
    margin-left: auto; } }

@media (min-width: 1000px) {
  section.publicspeaking h2 {
    margin-top: 40px; } }

section.videography {
  position: relative;
  border-bottom: 1px solid var(--nav-background); }
  section.videography .bg-one, section.videography .bg-two {
    position: absolute;
    height: 100%;
    z-index: -1; }
  section.videography .bg-one {
    background-image: url("/assets/img/home/videography-bg-0.png");
    background-position: center center;
    background-position: -15vw -6vw;
    background-size: 80vw;
    background-repeat: no-repeat;
    background-color: #0c0e12;
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 84.8% 0%, 54.5% 100%, 0% 100%);
            clip-path: polygon(0 0, 84.8% 0%, 54.5% 100%, 0% 100%);
    width: 80%; }
  section.videography .bg-two {
    background-image: url("/assets/img/home/videography-bg-1.png");
    background-size: cover;
    background-position: left center;
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(52% 0, 100% 0%, 100% 100%, 0% 143%);
            clip-path: polygon(52% 0, 100% 0%, 100% 100%, 0% 143%);
    width: 66.5%; }
  section.videography h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 22vw; }
  section.videography .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    margin-left: 30px; }

@media (max-width: 360px) {
  section.videography .bg-one {
    background-size: 80vw;
    background-position: -9vw calc(3vh + 5vw);
    background-repeat: no-repeat; } }

@media (max-width: 470px) and (min-width: 360px) {
  section.videography .bg-one {
    background-size: 80vw;
    background-position: -11vw 7vw;
    background-repeat: no-repeat; } }

@media (max-width: 640px) and (min-width: 470px) {
  section.videography .bg-one {
    background-size: 80vw;
    background-position: -11vw 2vw;
    background-repeat: no-repeat; } }

@media (max-width: 775px) and (min-width: 640px) {
  section.videography .bg-one {
    background-position: -10vw 0vw;
    background-repeat: no-repeat;
    background-size: 80vw; } }

@media (max-width: 930px) and (min-width: 775px) {
  section.videography .bg-one {
    background-position: -15vw -3vw;
    background-size: 80vw; } }

@media (max-width: 640px) {
  section.videography .home-lead {
    max-width: 40vw; } }

@media (max-width: 440px) {
  section.videography .bg-two {
    background-position: -42vw center; } }

@media (min-width: 1200px) {
  section.videography h2 {
    margin-top: calc( 10px + 1vw); } }

section.academics {
  position: relative;
  border-bottom: 1px solid var(--nav-background);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("/assets/img/home/WechatIMG19.jpeg");
  background-position: right center;
  background-size: cover; }
  section.academics h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 20px; }
  @media (max-width: 1000px) {
    section.academics h2 {
      padding-top: 20px; } }
  section.academics .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    margin-left: 30px;
    padding-bottom: 30px; }
  @media (max-width: 1000px) {
    section.academics .home-cta {
      margin-bottom: 10px; } }
  @media (max-width: 640px) {
    section.academics .home-lead {
      margin-bottom: 40vw;
      font-size: 20px; }
    section.academics h2, section.academics .home-lead {
      margin-left: 20px;
      margin-right: 20px; } }

@media (min-width: 1000px) {
  section.academics {
    padding: calc(20px + 3vw) 0 !important; } }

section.socialmedia {
  position: relative;
  border-bottom: 1px solid var(--nav-background);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/assets/img/home/20200717_225935.jpg");
  background-position: center center;
  background-size: cover; }
  section.socialmedia h2 {
    color: var(--section-title);
    font-family: 'Oswald';
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin: auto;
    margin-top: -20px;
    padding-top: 20px; }
  @media (max-width: 640px) {
    section.socialmedia h2 {
      text-align: center; } }
  section.socialmedia .home-lead {
    color: var(--section-text);
    font-family: 'Open Sans';
    max-width: 60vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px; }
  section.socialmedia .m-text {
    color: var(--section-text);
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 0 auto;
    padding-left: 5px;
    margin: 10px 0; }
    section.socialmedia .m-text a {
      color: var(--section-text);
      text-decoration: none; }
  section.socialmedia table {
    width: 300px;
    padding: 0 40px; }
    section.socialmedia table td.iconh {
      width: 50px;
      vertical-align: middle;
      text-align: center; }
      section.socialmedia table td.iconh img {
        width: 50px;
        border: 1px solid var(--section-text);
        border-radius: 50%;
        box-shadow: #000 0px 0 5px; }
  section.socialmedia div.icon {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: auto 10px; }

@media (min-width: 1000px) {
  section.socialmedia {
    padding: calc(20px + 3vw) 0 !important; } }

.home-wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  -ms-flex: 1;
      flex: 1; }
  .home-sections section {
    padding: 20px 0; }
  .home-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .home-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .home-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .home-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.col-1 {
  max-width: 300px;
  margin: 0 10px; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%; }

.col-100 {
  width: 100%; }

.push-right {
  margin-left: 330px; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; }
  .col-1 {
    max-width: 100%; }
  .col-50 {
    width: auto; }
  .push-right {
    margin-left: 10px; } }

section.academics p, section.publicspeaking p, section.software p, section.electronics p, section.sounddesign p, section.socialmedia p {
  text-shadow: #000 0px 0 5px; }
