:root {
  --body-background: gray;
  --highlight1: #28e5e4;
  --highlight2: #37cfa5;
  --highlight3: #0037d4;
  --splash-loader: var(--highlight1);
  --splash-loader2: var(--highlight3); }

@media (prefers-color-scheme: light) {
  :root {
    --nav-background: #fff;
    --nav-mob-sub-background: #EEE;
    --nav-mob-hamburger: #333;
    --nav-title: #000;
    --nav-link: #777;
    --nav-link-hover: #555;
    --nav-link-active: #000;
    --section-title: #FFF;
    --section-text: #FFF;
    --button-color: #ddd;
    --button-active: #eee;
    --button-hover: #fff; } }

@media (prefers-color-scheme: dark) {
  :root {
    --nav-background: #262626;
    --nav-mob-sub-background: #363636;
    --nav-mob-hamburger: #eee;
    --nav-title: #fff;
    --nav-link: #ddd;
    --nav-link-hover: #eee;
    --nav-link-active: #fff;
    --section-title: #FFF;
    --section-text: #FFF;
    --button-color: #ddd;
    --button-active: #eee;
    --button-hover: #fff; } }

.splash {
  background-color: var(--nav-background);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }

.splash-loaded {
  -webkit-animation: slideupoot 0.8s ease-in forwards;
          animation: slideupoot 0.8s ease-in forwards; }

@-webkit-keyframes slideupoot {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    display: none; } }

@keyframes slideupoot {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    display: none; } }

.splash-logo-div {
  text-align: center;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid var(--nav-mob-sub-background) 1px;
  padding-top: calc( 50vh - (240px/2) - 10px); }
  .splash-logo-div img {
    max-width: 240px;
    height: 240px;
    size: contain;
    z-index: 1; }
  .splash-logo-div .lds-dual-ring {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 0;
    left: calc( 50vw - (320px/2));
    top: calc( 50vh - (320px/2));
    margin-top: 18px;
    overflow: hidden;
    text-align: center; }
    .splash-logo-div .lds-dual-ring:after {
      content: " ";
      display: inline-block;
      width: 250px;
      height: 250px;
      padding: 0;
      border-radius: 50%;
      border: 6px solid;
      border-color: var(--splash-loader) transparent var(--splash-loader2) transparent;
      -webkit-animation: lds-dual-ring 1.2s linear infinite;
              animation: lds-dual-ring 1.2s linear infinite; }

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
