section.about(id="about")
    .flex.flex--center
        .col-1.push-right
            h2 Luigi Pizzolito
            p.home-lead Biography goes here...
            a(href="/static/contact.html").home-cta Contact Me