section.academics(id="academics")
    .flex.flex--center
        .col-50
        .col-1
                h2 Academics
                p.home-lead As a self-taught electronics aficionado, I create everything. Whether it is laying out a circuit board, designing a schematic, prototyping on breadboard or 3D printing an enclousure; I’m onto it.
                a(href="/projects/").home-cta See Samples       