section.academics(id="academics")
    .flex.flex--center
        .col-50
        .col-1
                h2 Academics
                p.home-lead Passionate about physics & mathematics, my academic side also includes chemistry, business management, french and english language and literature. With a background of design technology, music and art.
                a(href="/projects/academics/").home-cta See Samples       