section.academics.lazy(id="academics",data-bg-multi="linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(/assets/img/home/academics-bg.jpg)")
    .flex.flex--center
        .col-50
        .col-1
                h2 Academics
                p.home-lead Passionate about physics & mathematics, my academic side also includes chemistry, business management, french and english language and literature. With a background of design technology, music and art.
                a(href="/projects/academics/").home-cta See Samples       