section.publicspeaking(id="publicspeaking")
    .cover
    .flex.flex--center
        .col-50
        .col-1
                h2 Public Appearances
                p.home-lead From giving a TEDx talk to being poet laureate, or running a Learning2 creative-thinking workshop; I enjoy sharing my own ideas and making connections, linking anything and everything.
                a(href="/projects/").home-cta Listen to Me