section.socialmedia(id="socialmedia")
    .flex.flex--center
        h2(id="contact") Social Media
    .flex.flex-center
        p.home-lead Open to meeting new people, keep up with how I share my world over at various social media platforms.
    .flex.flex--center
        .col-1
            table
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Email.svg",alt="Email Icon")
                    td
                        p.m-text
                            a(href="mailto:luigipizzolito@hotmail.com",style="font-size:16px;") luigi.pizzolito@hotmail.com
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Phone.svg",alt="Phone Icon")
                    td
                        p.m-text
                            a(href="tel:+8618914700447") +86 189 1470 0447
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Twitter.svg",alt="Twitter Icon")
                    td
                        p.m-text
                            a(href="https://twitter.com/Luigi_Pizzolito") @Luigi_Pizzolito
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Reddit.svg",alt="Reddit Icon")
                    td
                        p.m-text
                            a(href="https://www.reddit.com/u/Luigi_Pizzolito") u/Luigi_Pizzolito
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Github.svg",alt="Github Icon")
                    td
                        p.m-text
                            a(href="https://github.com/Luigi-Pizzolito") @Luigi_Pizzolito
        .col-1
            table
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Youtube.svg",alt="YouTube Icon")
                    td
                        p.m-text
                            a(href="https://www.youtube.com/channel/UCtt9z7gzJLmMQ_8Hbl_jF0w") Luigi Pizzolito
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Instagram.svg",alt="Instagram Icon")
                    td
                        p.m-text
                            a(href="https://www.instagram.com/luigi.pizzolito/") @luigi.pizzolito
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Snapchat.svg",alt="Snapchat Icon")
                    td
                        p.m-text @luigipizzolito
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Facebook.svg",alt="Facebook Icon")
                    td
                        p.m-text
                            a(href="") Luigi Pizzolito
                //-! !! what the hell hapenned to Instructables!?!?
                tr
                    td.iconh
                        img.icon(src="/assets/img/home/socialmedia-icons/Linkedin.svg",alt="Linkedin Icon")
                    td
                        p.m-text
                            a(href="") [to_create or INSTRUCTABLES]

        //- .col-1
        //-     table
        //-         tr
        //-             td.iconh
        //-                 img.icon(src="/assets/img/home/socialmedia-icons/Youtube.svg",alt="YouTube Icon")
        //-             td
        //-                 p.m-text
        //-                     a(href="") @Luigi_Pizzolito
        //-         tr
        //-             td.iconh
        //-                 img.icon(src="/assets/img/home/socialmedia-icons/Instagram.svg",alt="Instagram Icon")
        //-             td
        //-                 p.m-text
        //-                     a(href="") @Luigi.Pizzolito
        //-         tr
        //-             td.iconh
        //-                 img.icon(src="/assets/img/home/socialmedia-icons/Snapchat.svg",alt="Snapchat Icon")
        //-             td
        //-                 p.m-text
        //-                     a(href="") @Luigi_Pizzolito
        //-         tr
        //-             td.iconh
        //-                 img.icon(src="/assets/img/home/socialmedia-icons/Facebook.svg",alt="Facebook Icon")
        //-             td
        //-                 p.m-text
        //-                     a(href="") u/Luigi_Pizzolito
        //-         tr
        //-             td.iconh
        //-                 img.icon(src="/assets/img/home/socialmedia-icons/Linkedin.svg",alt="LinkedIn Icon")
        //-             td
        //-                 p.m-text tbm