section.socialmedia(id="socialmedia")
    .flex.flex--center
        h2 Social Media
    .flex.flex-center
        p.home-lead desc
    .flex.flex--center
        .col-1
            table
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="mailto:luigipizzolito@hotmail.com",style="font-size:16px;") luigi.pizzolito@hotmail.com
                tr
                    td.icon
                        .icon
                    td
                        p.m-text +86 189 1470 0447
                tr
                    td.icon
                        img.icon(href="/assets/img/home/socialmedia-icons/Twitter.png")
                    td
                        p.m-text
                            a(href="") @Luigi_Pizzolito
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") u/Luigi_Pizzolito
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") @Luigi_Pizzolito
        .col-1
            table
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") [to_create]
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") @luigi.pizzolito
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") @luigipizzolito
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") Luigi Pizzolito
                tr
                    td.icon
                        .icon
                    td
                        p.m-text
                            a(href="") Luigi Pizzolito