section.software.centered-section-and-wide-offgrid-section(id="software")
    .flex.flex--center
        .col-50.flex.flex--center
            .col-1
                h2 Software
                p.home-lead I like coding
                a(href="/projects/").home-cta See Projects
        .col-50.order-first
            .bus-in(id="scrollparalaxsoftitemsdiv")