section.software.centered-section-and-wide-offgrid-section(id="software")
    .cover
    .flex.flex--center
        .col-50.flex.flex--center
            .col-1
                h2 Software
                p.home-lead Also dabbling in coding, I like creating programs for fun or utility. Usually involving web development(HTML,JS,CSS,PHP,SQL), C/C++, Node.js and Docker for MacOS/Linux, or AVR-C for embedded devices. I love working with open-source software, networking and Internet Of Things. Interested in computer graphics and artificial intelligence.
                a(href="/projects/").home-cta See Projects
        .col-50.order-first
            .bus-in(id="scrollparalaxsoftitemsdiv")