section.sounddesign(id="sounddesign")
    .cover
    .flex.flex--center
        .col-1
                h2 Sound Design
                p.home-lead As a self-taught electronics aficionado, I create everything. Whether it is laying out a circuit board, designing a schematic, prototyping on breadboard or 3D printing an enclousure; I’m onto it.
                a(href="/projects/").home-cta See Shows
        .col-50