section.sounddesign(id="sounddesign")
    .cover
    div(id="trigger2",style="min-height:1px;")
    .flex.flex--center
        .col-1
                h2 Theatre Tech
                p.home-lead With 4 years of experience, I love doing sound design, projection, gaffing and general tech for theatre events. Particularly preparing shows and productions; which includes set-up and execution of lighting, audio, projection, stage and videography for live bands, actors, and much more. I have worked with traditional analog mixers, Yamaha TF5 mixer, QLab, NuendoLive and Pearl 2010 lighting controller.
                a(href="/projects/").home-cta See Shows
        .col-50