section.videography(id="videography")
    .bg-one
    .bg-two
    .flex.flex--center
        .col-1
                h2 Videography
                p.home-lead Being enthusiastic about digital media, I've been a long time videographer: filming and editing retrospectives of events and creating my own content. With an interest in computer graphics, I also enjoy motion graphics, video editing, animation and other parts of the 3D VFX workflow.
                a(href="/projects/videography").home-cta Watch
        .col-50