---
layout: default
---
<link rel="stylesheet" href="/assets/css/blog.css">

{% include blog/header.html %}
<script>
    document.querySelector('.med-elem').style.display = 'block';
    document.querySelector('.sml-elem').style.display = 'none';
    document.querySelector('.mobile-nav').style.padding = '10px 0 5px 0';
</script>

<main style="padding:10px 20px;">
    <div class="main-pad"></div>
    <h2>{{ page.title }}</h2>
    <!-- <p class="meta">{{ page.date | date: '%B %d, %Y' }} - {{ page.categories[1] | capitalize }} - {{ page.tags | join: ', ' }}</p> -->

    <div class="post">
        {{ content }}
    </div>
</main>

{% include home/cc.html %}