---
layout: default
---
<link rel="stylesheet" href="/assets/css/blog.css">

{% include blog/header.html %}

<div class="left-sidebar">
    <!-- Article Contents -->
</div>

<main>
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date_to_string }}</p>
    <p class="meta">{{ page.categories | join: ', ' }}</p>

    <div class="post">
        {{ content }}
    </div>
</main>

<div class="right-sidebar">
    <h3>Other Posts</h3>
    <script>
        function updateBlogSidebar() {
            // var inst = document.getElementsByClassName("post-listSidebar")[0].getElementsByClassName("{{ page.categories[1] }}")[0];
            // document.getElementsByClassName("post-listSidebar")[0].removeChild(inst);
            // document.getElementsByClassName("post-listSidebar")[0].prepend(inst);

            document.getElementsByClassName("sec-nav")[0].style.background = 'url("/assets/img/blog/header/{{ page.categories[1] }}.png") center right';

            putrandposts();
        }
    </script>

    <div class="recentpost-listSidebar">
        <!-- <h4>Recents</h4> -->
        <ul>
            <!--
            {% for post in site.related_posts limit:site.recentpostlim%}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% if post.description %}
            {% assign desc = post.description %}
            {% else %}
            {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
            {% endif %}
            <p class="item-desc">
                {{ desc | truncate: site.quick_view_length, '...' }}
                <br />
                <small>
                    {{ post.categories[1] | capitalize  }} - {{ post.date | date: '%B %d, %Y' }}
                </small>
            </p>
            {% endfor %}
        -->

            <!-- latest 2 posts or most related posts -->
            {% for post in site.related_posts limit:site.recentpostlim %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>

                {% if post.description %}
                {% assign desc = post.description %}
                {% else %}
                {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
                {% endif %}
                <p class="item-desc">
                    {{ desc | truncate: site.quick_view_length, '...' }}
                    <br />
                    <small>
                        {{ post.categories[1] | capitalize  }} - {{ post.date | date: '%B %d, %Y' }}
                    </small>
                </p>
            </li>
            {% endfor %}

            <!-- random posts -->
            <script>
                function getRandomArbitrary(min, max) {
                    return Math.random() * (max - min) + min;
                }

                /**
                 * Returns a random integer between min (inclusive) and max (inclusive).
                 * The value is no lower than min (or the next integer greater than min
                 * if min isn't an integer) and no greater than max (or the next integer
                 * lower than max if max isn't an integer).
                 * Using Math.round() will give you a non-uniform distribution!
                 */
                function getRandomInt(min, max) {
                    min = Math.ceil(min);
                    max = Math.floor(max);
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }

                function putrandposts() {
                    var posts = [
                        {% for post in site.posts %}
                {

                    title: "{{ post.title }}",
                        url: "{{ post.url }}",
                            {% if post.description %}
                {% assign desc = post.description %}
                {% else %}
                {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
                {% endif %}
                desc: "{{ desc | truncate: site.quick_view_length, '...' | replace: '"', '\"' }}",
                    catdate: "{{ post.categories[1] | capitalize  }} - {{ post.date | date: '%B %d, %Y' }}"

                {% if forloop.last %}
                                }
                {% else %}
                                },
                {% endif %}
                {% endfor %}
                            ];

                // console.log(posts);
                var postarr = []
                for (let index = 0; index < {{ site.sidebarunrelpostlimit }}; index++) {
                    var i = getRandomInt(0, posts.length-1);
                    while ( postarr.includes(i) ) {
                        i = getRandomInt(0, posts.length-1);
                    }
                    postarr.push(i);
                    // console.log(i+"/"+(posts.length-1));
                    let item = document.createElement("li");
                    let title = document.createElement("a");
                    title.href = posts[i].url;
                    title.innerHTML = posts[i].title;
                    let descr = document.createElement("p");
                    descr.classList = "item-desc";
                    descr.innerHTML = (posts[i].desc) + "<br /><small>" + posts[i].catdate + "</small>";
                    item.appendChild(title);
                    item.appendChild(descr);
                    document.getElementsByClassName("recentpost-listSidebar")[0].getElementsByTagName("ul")[0].appendChild(item);
                }

                }
            </script>

        </ul>
    </div>
    <!--
    <div class="post-listSidebar">
        <h4>Random</h4>
        {% for category in site.categories %}

        {% if site.top_categ contains category[0] %}


        <div class="{{ category[0] }}">

            {% if category[0] == page.categories[1] %}
            {% assign plim = site.sidebarpostlimit %}
            {% else %}
            {% assign plim = site.sidebarunrelpostlimit %}
            {% endif %}
            <ul>

                {% for post in category[1] limit:plim %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>

                    {% if post.description %}
                    {% assign desc = post.description %}
                    {% else %}
                    {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
                    {% endif %}
                    <p class="item-desc">
                        {{ desc | truncate: site.quick_view_length, '...' }}
                        <br />
                        <small>
                            {{ category[0] | capitalize  }} - {{ post.date | date: '%B %d, %Y' }}
                        </small>
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>


        {% else %}
        {% continue %}
        {% endif %}

        {% endfor %}


    </div>
-->

    <h4>Tags</h4>
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <span class="site-tag">
        <a href="/tag/{{ tag | first | slugify }}/"
            style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
        </a>
    </span>
    {% endfor %}

</div>

{% include home/cc.html %}